@model IEnumerable<EdugradeLINQ.Models.Student>

@{
    ViewData["Title"] = "Studenter i Programmering 1";
}

<h2 class="my-4">@ViewData["Title"]</h2>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Förnamn</th>
            <th>Efternamn</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.StudentFirstName</td>
                <td>@student.StudentLastName</td>
            </tr>
        }
    </tbody>
</table>
